html, body {
    background-color: darkseagreen;
    background-image: url(../images/back.jpg);
    background-repeat: repeat;
    color: lightgray;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

* {
  box-sizing: border-box;
}

.main-cont {
  margin: auto;
  width: 93vw;
  min-height: 90vh;
  margin: 0em 3vw 1vh 3vw;
  background: rgba(0, 0, 0, 0.90);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;

}

.title {
    font-size: 44px;
    font-weight: 800;
}

#title {
  font-size: 44px;
  font-weight: 900;
  color: black;
  align-self: center;
  z-index: 4;
}

.links {
  width: 100%;
  height: 1.3rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container {
  margin-bottom: 1em;
}

#app-navbar-collapse > ul > a {
    color: dimgray;
    padding: 0 25px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

li.dropdown > a {
  color: dimgray;
  padding: 0 25px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.collection {
  width: 95%;
  margin: 1vh 1vw;
  overflow: hidden;
}

h3 {
  align-self: flex-start;
  margin-left: 1em;
  color: dimgray;
}

.collection > div {
  height: 5em;
}

.collection > div > a {
  width: 100%;
  height: 100%;
  margin: 0.5em;
}

.collection > div > a > article {
  width: 100%;
  height: 100%;
  background: rgba(90,20,100,0.2);

}

.box {
  margin-bottom: 20px;
   height:100px;
   background:purple;
}

.tiles {
  width: 90%;
   margin: 2em auto;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
}
