html, body {
    background-color: darkseagreen;
    background-image: url(../images/laser.gif);
    background-size: cover;
    color: lightgray;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

* {
  box-sizing: border-box;
}

.main-cont {
  margin: auto;
  width: 93vw;
  min-height: 90vh;
  margin: 0em 3vw 1vh 3vw;
  background: rgba(0, 0, 0, 0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
   
}

.title {
    font-size: 44px;
}

#title {
  font-size: 44px;
  font-weight: 900;
  color: black;
  align-self: center;
  z-index: 4;
}

.links {
  width: 100%;
  height: 1.3rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.links > a {
    color: dimgray;
    padding: 0 25px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.collectionartist {
  width: 95%;
  height: 12em;
  margin: 1vh 1vw;
  background: rgba(0,50,0,0.5);
  background-image: url(../images/villalobos.jpg);

}

.collectionevent {
  width: 95%;
  height: 12em;
  margin: 1vh 1vw;
  background: rgba(0,50,0,0.5);
  background-image: url(../images/villalobos.jpg);

}

.collectionvenue {
  width: 95%;
  height: 12em;
  margin: 1vh 1vw;
  background: rgba(0,50,0,0.5);
  background-image: url(../images/villalobos.jpg);
 

}

